
.proyectos {
    margin-bottom: 30px;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
    padding: 10px;  
    justify-items: center;
    padding-left: 8%;
    padding-right: 8%;
      
    div {
        text-align: center;
        padding-top: 110px;
        background-size: cover;                 
        background-repeat: no-repeat;
        background-position: center center;
        a {
            text-decoration: none;
            color: $font-color;
            font-weight: 700;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 20px;
        }
        :hover, :active {
            font-size: larger;
            color: $bg-color;
        }
    }
    .grid1 {
        background-image: url("../images/tienda.png");
        min-width: 140px;  
    }
    .grid2 {
        background-image: url("../images/viaje.png"); 
        min-width: 140px; 
 
    }
    .grid3 {
        background-image: url("../images/libros.png");
        min-width: 140px;

           
    }
    .grid4 {
        background-image: url("../images/compañia.png");
        min-width: 140px;


    }
}
@media(max-width: 300px) {
    .proyectos {
        grid-template-columns: auto;
    }
}
@media(min-width: 768px) {
    .proyectos {
        div {
            width: 190px;
        }
        .grid1 {
            margin-left: 40%;
        }
        .grid2 {
            margin-right: 40%;
        }
        .grid3 {
            margin-left: 40%;
        }
        .grid4 {
            margin-right: 40%;
        }
    }
}
@media(min-width: 1280px) {
    .proyectos div {
        width: 280px;
    }
}