<h2 id="link2">Educación</h2>
<div class="educacion">
    <div class="educacion__caja">
        <div class="caja__informacion">
            <ul class="informacion__lista">
                <li><i class="fa-solid fa-building-columns"></i> Universitat Oberta de Catalunya 2021 - 2022</li>
                <li><i class="fa-solid fa-graduation-cap"></i> Máster Universitario en Desarrollo de sitios y aplicaciones web</li>
                <li><i class="fa-solid fa-building-columns"></i> Universidad Pablo de Olavide (Sevilla) 2016 - 2020 </li>
                <li><i class="fa-solid fa-graduation-cap"></i> Grado en Traducción e Interpretación (Inglés-Árabe)</li>  
            </ul>
        </div>
    </div>
</div>