<h2 id="link3">Experiencia laboral</h2>
<div class="experiencia">
    <div class="experiencia__caja">
        <div class="caja__informacion">
            <ul class="informacion__lista">
                <li><i class="fa-solid fa-briefcase"></i> Dependienta comercial. SPAR S.L. Julio 2020 - Octubre 2020 / Febrero 2021 - Mayo 2021 </li>
                <li>Encargada de realizar los cobros y gestión de stock.</li>  
                <li><i class="fa-solid fa-briefcase"></i> Dependienta comercial. City Tour Sevilla S.L. Octubre 2018 - Diciembre 2018 </li>
                <li>Encargada de ventas y atención al cliente.</li>            
            </ul>
        </div>
    </div>
</div>