<h2 id="link5">Habilidades</h2>

<div class="habilidades">
    <div class="habilidades__grid">
        <span title="HTML5"><i class="fa-brands fa-html5"></i></span>
        <span title="CSS3"><i class="fa-brands fa-css3"></i></span>
        <span title="JavaScript"><i class="fa-brands fa-js"></i></span>
        <span title="Angular"><i class="fa-brands fa-angular"></i></span>
        <span title="PHP"><i class="fa-brands fa-php"></i></span>
        <span title="Laravel"><i class="fa-brands fa-laravel"></i></span>
        <span title="Github"><i class="fa-brands fa-github"></i></span>
        <span title="Git"><i class="fa-brands fa-git"></i></span>
        <span title="Figma"><i class="fa-brands fa-figma"></i></span>
        <span title="Drupal"><i class="fa-brands fa-drupal"></i></span>
    </div>
</div>