<header>
    <div class="nombre"><a href="#link1">Carmen Arias</a></div>
    <nav>
        <ul>
          <li><a href="#link1">Sobre mí</a></li>
          <li><a href="#link2">Educación</a></li>
          <li><a href="#link3">Experiencia laboral</a></li>
          <li><a href="#link4">Proyectos</a></li>
          <li><a href="#link5">Habilidades</a></li>
        </ul>
    </nav>
    <div class="hamburger-icon" onclick="toggleMobileMenu(this)">
        <div class="hamburger-icon__bar1"></div>
        <div class="hamburger-icon__bar2"></div>
        <div class="hamburger-icon__bar3"></div>
        <ul class="hamburger__mobile-menu">
          <li><a href="#link1">Sobre mí</a></li>
          <li><a href="#link2">Educación</a></li>
          <li><a href="#link3">Experiencia laboral</a></li>
          <li><a href="#link4">Proyectos</a></li>
          <li><a href="#link5">Habilidades</a></li>
        </ul>
    </div>
</header>
<script src="assets/scripts/main.js"></script>
