<h2 id="link1">Sobre mí</h2>
<div class="contenido">
    <div class="contenido__caja">
        <img src="./assets/images/foto-cv1.jpg" alt="foto-carmen">
        <h3>Soy Carmen</h3>
        <p>Estudiante de Desarrollo Web en UOC</p>
        <div class="caja__informacion">
            <ul class="informacion__lista">
                <li><i class="fa-solid fa-phone"></i> 123456789</li>
                <li><i class="fa-solid fa-envelope"></i></i> mariasma@uoc.edu</li>
                <li><i class="fa-solid fa-location-dot"></i> Calle Rincón, 4, Lemos </i></li>
                <li><i class="fa-solid fa-calendar-days"></i> 30-04-1998</li>
            </ul>
        </div>
    </div>
</div>